body {
    font-family: 'Roboto', sans-serif;
}

.inner-content {
    height: 1000px;
    overflow-y: auto;
}

.profile-banner {
    background: rgb(249, 250, 251);
    background: linear-gradient(86deg, rgba(249, 250, 251, 1) 0%, rgba(229, 231, 235, 1) 100%);
}

.login-bg {
    background: rgb(30, 58, 138);
    background: linear-gradient(86deg, rgba(30, 58, 138, 1) 0%, rgba(30, 64, 175, 1) 50%, rgba(96, 165, 250, 1) 100%);
}

.navbar-title {
    font-size: 9px;
}


/* SPINNER */
.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}




@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ZOOM IMAGES */

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width:200px;
    height:100px;
  }

@media only screen and (max-width: 640px) {
    /* For tablets: */
    /* #navbar{
        visibility: hidden;
    } */
}